.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(220, 220, 220, 1);
  padding: 8px;
  width: 500px;
}
.taskContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.taskName {
  font-size: 1.2rem;
  padding: 10px;
}
.buttonsContainer {
  display: flex;
  gap: 5px;
}
.editButton {
  background-color: rgba(220, 220, 220, 0.4);
  color: black;
  padding: 8px;
  font-size: 0.8rem;
}
.editButton:hover {
  background-color: lightgray;
}
.deleteButton {
  background-color: tomato;
  color: black;
  padding: 8px;
  font-size: 0.8rem;
}
.deleteButton:hover {
  background-color: red;
  color: white;
}
.setCheckButton {
  background-color: lightgreen;
  color: black;
  padding: 8px;
  font-size: 0.8rem;
}
.setCheckButton:hover {
  background-color: green;
  color: white;
}
